@media only screen and (max-width:920px){
    nav{
        position: relative;
    }

    nav .menu{
        display: none;
    }
    
    nav .logo{
        text-align: center;
        margin: 0;
        margin-top: 10px;
    }

    nav .logo > h1{
        display: block;
    }

    header .left{
        flex: 100%;
        margin: 0;
        margin-left: 0%;
        text-align: center;
    }

    header .left > p{
        position: relative;
        margin: 0;
        margin-bottom: -60px;
    }

    header .left > #btn-id{
        display: none;
    }
    header .right{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        margin-left: 0;
    }
    header .right .circle-father > .circle-child{
        position: relative;
        left: 0;
    }

    #about .right-about{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .main-carousel{
        width: 100%;
    }
}

@media only screen and (max-width: 700px){
    header .left > p{
        font-size: 26px;
        line-height: 38px;
    }

    header .left > h2{
        font-size: 34px;
    }

    header .right .circle-father{
        width: 192px;
        height: 300px;
    }

    #phrase p{
        font-size: 20px;
        line-height: 26px;
    }

    #about .left-about{
        text-align: center;
        margin: 0;
    }

    #about .right-about{
       display: none;
    }
    #about .circle-father{
        display: none;
    }
    footer{
        margin-top: 15%;
    }

    .contact-text{
        text-align: center;
        margin: 0;
    }
    .left-contact{
        flex: 100%;
        margin: 0;
        margin-top: -10%;
        margin-bottom: 5%;
    }

    .left-contact .contact-inform{
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .contact-inform img{
        margin: 20px 0;
    }

    .contact-inform a{
        margin-top: 60px;
    }

    .redes-sociais {
        margin-bottom: 4%;
    }
    
}