@media only screen and (max-width:970px) {

    body{
        background: url("/assets/pexels-oziel-gómez-837267.jpg");
        background-size: cover;
        background-position: top;
    }

    nav{
        background: rgba(255,255,255, 0.2);
    }
    .left {
        flex: 100%;
        margin: 0;
        text-align: center;
    }

    .left > p{
        position: relative;
        top: 70px
    }
    
    .left > .button-div{
       width: 30%;
       float: right;
       margin-right: 35%;
    }

    .right{
        flex: 100%;  
        margin: 0;
    }

    .right .circle-father{
       display: none;
    }

    .right .circle-child{
        display: none;
    }
}

@media only screen and (max-width:670px){

    body{
        background: url("/assets/cactusMob.png");
        background-size: cover;
        background-position: right;
    }

    .menu{
        display: none;
    }
    .logo{
        text-align: center;
        margin: 0;
    }

    .left > h2{
        font-size: 36px;
    }
    .left > p{
        font-size: 20px;
    }

    .left > .button-div{
        position: relative;
     }
 
     .left > .button-div button{
        position: absolute;
        text-align: center;
        transform: translate(-50%, 15%);
        width: 200px;
     }
     .left > .button-div:hover button{
        transform: translate(-20%, 15%);
    }
}