@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}

body{
    margin: 0;
    background-color: #FFFFFF;
    height: auto;
}

nav{
    display: flex;
    flex: 100%;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    height: 10vh;
}

.logo{
    flex: 40%;
    margin-left: 10%;
}

.logo h1{
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 50px;
    color: #318F4A;
}

.menu{
    flex: 40%;
    margin-right: 10%;
    text-align: right;
}

.menu a{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 44px;
    color: #000000;
    padding: 0 10px;
}

.menu a:hover{
    color: #318F4A;
    border-bottom: 4px solid #318F4A;
} 

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    height: 90vh;
}

.left{
    position: relative;
    flex: 40%;
    margin-left: 10%;
}

.left p{
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
}

.left h2{
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 55px;
    color: #318F4A;
}

#button-id{
    background-color: #318F4A;
    border: none;
    border-radius: 10px;
    width: 220px;
    height: 60px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 38px;
    color: #FFFFFF;
    cursor: pointer;
    transition: width 1s;
}

#arrow{
    display: none;
}

#button-id:hover{
    width: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#button-id:hover #arrow{
    display: block;
}

.right{
    display: 48%;
    margin-right: 2%;
}

.circle-father, .circle-child{
    position: relative;
    width: 420px;
    height: 400px;
    background-color: #24401A;
    border-radius: 300px;
}

.circle-father > .circle-child{
    position: absolute;
    background: url("../assets/cactus-img.png");
    background-size: cover;
    right: 12%;
}